.group-info
  %a
    %p.group-name group-name
    %p.group-message group-message

.group-info
  %a
    %p.group-name group-name
    %p.group-message group-message

.group-info
  %a
    %p.group-name group-name
    %p.group-message group-message

.group-info
  %a
    %p.group-name group-name
    %p.group-message group-message

