.message-top
  %p.message-top__name name
  %p.message-top__date 2018/10/15
.message-bottom
  ジード観たけどめっちゃよかった。
  %br
  ベリアル浄化エンドとは恐れ入ったね
%img.image

.message-top
  %p.message-top__name name
  %p.message-top__date 2018/10/15
.message-bottom
  特撮の主題歌にはハズレがないね。
  %br
  おすすめはSURPRISE-DRIVEかな。
%img.image
