.wrapper
      = render partial: "shared/side_bar"

  .chat
    .chat-header
      .header-left
        %p.current-group-name current-group-name
        %p.current-group-members current-group-members
      .header-right
        %a.header-right__edit
          = link_to "/groups/1/edit", class: "header-right__edit--btn" do
            Edit

    .chat-body
      .message
        = render partial: "messages"

    .chat-footer
      .form
        %form
          .input-box
            %input.input-box__text{ type: "text", placeholder: "type a message"}
            %label.input-box__image
              = fa_icon("image")
              %input.input-box__file-send{type: "file"}
          %button.form__send-btn{type: "submit",} Send


