// color
$light-blue     : #38AEF0;
$dark-gray      : #434A54;
$light-gray     : #999999;
$white          : #fff;
$side-blue-dark : #253141;
$side-blue-light: #2f3e51;
$alert-orange   : #f35500;


// 縦横の幅
$side-width-space: 20px;
$chat-width-space: 40px;
$send-btn-height : 50px;
$send-btn-width  : 100px;
