.chat{

  .chat-body{
    @include div_basic(calc(100vw - 300px), calc(100vh - 100px - 90px), #AAAAAA);
    padding: 0 $chat-width-space;
    overflow: scroll;
    padding-top: 46px;

    .message{
      .message-top{
        &__name{
          @include font_basic($dark-gray, 16px, null, null, null);
          float: left;
          padding-right: 10px;
        }
        &__date{
          @include font_basic($light-gray, 12px, null, null, null);
        }
      }

      .message-bottom{
        @include font_basic($dark-gray, 14px, null, null, null);
        clear: both;
        padding-bottom: 40px;
      }

        &__image{
        }
    }

  }
}

