.side-bar{
  float: left;
  height: 100vh;
  width: 300px;
  color: white;

  .side-bar-header{
    @include div_basic(300px, 15%, #253141);
    padding:0 $side-width-space;
    position: relative;

    .user-info{
      align-items: center;
      width: 100%;
      display: flex;
      @include absolute(0, 0, $side-width-space, $side-width-space);

      &__name{
        @include font_basic(null, 16px, bold, null, null);
        float: right;
      }

      .edit{
        margin-left: 100px;
        &__create-group {
          float: right;
        }
        &__user {
          float: right;
        }
      }

    }
  }


}
