.side-bar{
  .side-bar-groups{
    @include div_basic(300px, calc(100vh - 100px), $side-blue-light);
    padding:0 $side-width-space;
    @include font_basic(#fff, 15px);
    overflow: auto;

    .group-info{
      padding-top:20px;
      &__message{
        font-size:11px;
        padding:5px 0 40px 0;
      }
    }
  }
}
