.side-bar{
  float: left;
  height: 100vh;
  width: 300px;
  color: white;

  .side-bar-header{
    @include div_basic(300px, 100px, $side-blue-dark);
    padding:0 $side-width-space;

    .user-info{
      &__name{
        @include font_basic(null, 16px, bold, 100px, null);
        float: left;
      }

      .edit{
        @include font_basic(null, 16px, null, 100px, null);
        float: right;
        &__create-group {
          float: right;
        }
        &__user {
          float: right;
        }
      }

    }
  }


}
